* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: lavender;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 70px;
    line-height: 70px;

}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover {
    background-color: darkorchid;
}

img {
    height: 150px;
    width: 150px;


}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    display: inline;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    padding: 18px;
    border-radius: 10px;
}